<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="autoloader.php" colors="true">
    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>

<!-- COMANDO PARA EJECUTAR PHP UNIT
php phpunit-11.5.55.phar - -bootstrap 'autoloader.php' tests -->